@import "./variables.scss";
@import "./mixins.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

li {
	list-style-type: none;
}

#app {
	background-color: $primary-bg;
	width: 1728px;
	display: flex;
	flex-direction: column;

	.header {
		@include flex(space-between, center);
		padding: 50px 100px 30px;
		height: 120px;

		.logo-wrapper {
			.logo {
				height: 27px;
			}

		}

		.nav {
			.items__nav {
				@include flex(space-between, center);

				.item-nav {
					font-family: gotham-book;
					font-size: 20px;
					color: #ffffff;
					margin-right: 30px;
				}
			}
		}

		.switch-wrapper {
			@include flex(space-between, center);

			.switch {
				position: relative;
				display: inline-block;
				width: 56px;
				height: 32px;
				margin-right: 20px;

				.slider {
					position: absolute;
					cursor: pointer;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: 32px;
					background-color: #FFEC70;
					background-image: url(../public/icons/moon.png);
					background-repeat: no-repeat;
					background-position: right;
					-webkit-transition: .4s;
					transition: .4s;
				}

				.slider:before {
					position: absolute;
					content: "";
					height: 26px;
					width: 26px;
					left: 4px;
					bottom: 3px;
					border-radius: 50%;
					background-color: white;
					-webkit-transition: .4s;
					transition: .4s;
				}

				input:checked+.slider {
					background-color: $primary-bg;
				}

				input:focus+.slider {
					box-shadow: 0 0 1px #2196F3;
				}

				input:checked+.slider:before {
					-webkit-transform: translateX(26px);
					-ms-transform: translateX(26px);
					transform: translateX(26px);
				}
			}

			.switch input {
				display: none;
			}

			.btn-nav {
				width: 133px;
				height: 40px;
				font-family: gotham-book;
				font-size: 16px;
				color: #ffffff;
				background-color: #925FF0;
				border-radius: 4px;
			}
		}
	}

	.main {


		.home {
			padding: 0 100px;

			.banner-wrapper {
				@include flex(space-between, center);
				margin-top: 60px;

				.nav-banner {
					.text-wrapper {
						.big-text {
							font-family: anton;
							font-size: 200px;
							font-weight: 400;
							color: $primary-color;
							text-transform: uppercase;

							p {
								line-height: 180px;
								letter-spacing: -6px;
							}
						}
					}

					.small-text {
						font-family: anton;
						font-size: 114px;
						font-weight: 400;
						color: transparent;
						-webkit-background-clip: text;
						background-clip: text;
						background-image: linear-gradient(#FA709A, #FEE140);
						line-height: 150px;
						letter-spacing: -6px;
					}

					.links-wrapper {
						@include flex(space-between, center);
						margin-top: 50px;

						.link-header {
							width: 52px;
							height: 52px;
						}
					}

					.button-wrapper {
						margin-top: 35px;
						@include flex(center, center);

						.button-banner {
							width: 660px;
							height: 52px;
							background-color: #292929;
							color: $primary-color;
							font-family: gotham;
							font-size: 20px;

							img {
								position: relative;
								top: 5px;
								left: 0;
								width: 20px;
								height: 20px;

							}

						}
					}
				}

				.portal-wrapper {
					position: relative;
					top: -270px;
					right: 20px;

					.portal {
						width: 160px;
						height: 160px;

					}
				}

				.img-wrapper {
					.img-banner {
						width: 694px;
						height: 778px;
					}
				}
			}
		}


		.success {
			margin: 153px 100px 0 100px;
			@include flex(space-evenly, center);
			padding: 82px 100px;
			border: 1px solid #646464;
			border-radius: 29px;

			.job-text {
				.number-text {
					font-family: anton;
					font-size: 128px;
					color: #C8FEC7;
				}

				.description-job {
					font-family: gotham-black;
					font-size: 36px;
					font-weight: 500;
					color: #C8FEC7;
				}
			}
		}

		.portfolio {
			padding: 0 100px;

			.title-portfolio {
				font-family: anton;
				font-size: 64px;
				color: $primary-color;
				text-transform: uppercase;
				margin-top: 200px;
			}

			.displays__portfolio {
				@include grid(auto auto auto auto, auto auto, 30px, 30px);
				margin-top: 36px;

				.display__portfolio {
					display: inline-block;
					padding: $padding-s;
					border: 1px solid #737373;
					border-radius: 10px;

					.screen {
						.screen-picture {
							width: 300px;
							height: 200px;
							border-radius: 10px;
						}
					}

					.title-display {
						margin-top: $margin-s;
						font-family: gotham-bold;
						font-size: 28px;
						font-weight: 700;
						color: $primary-color;
					}

					.buttons-wrapper {
						margin-top: 21px;
						@include flex(start, center);

						.btn-screen {
							background-color: #E9DFFC;
							width: 84px;
							height: 24px;
							border-radius: 12px;
							border: 1px solid #BE9FF6;
							padding: 4px 8px;
							font-family: gotham;
							font-size: 14px;
							color: #784DC7;
						}
					}

					.btn-display {
						margin-top: $margin-s;
						width: 300px;
						height: 40px;
						padding: 12px 24px;
						background-color: #292929;
						font-family: gotham-book;
						font-size: 16px;
						color: $primary-color;
					}
				}
			}
		}

		.skills__main {
			padding: 0 100px;

			.title-skills {
				font-family: anton;
				font-size: 64px;
				color: $primary-color;
				text-transform: uppercase;
				margin-top: 200px;
			}

			.skills {
				@include grid(auto auto, auto auto, 20px, 20px);
				margin-top: 50px;

				.skill {
					@include flex(space-between, center);
					width: 756px;
					height: 320px;
					padding: 40px 50px 60px 40px;
					border: 1px solid #737373;
					border-radius: 10px;

					.ellipse-skill {
						width: 220px;
						height: 220px;

						.ellipse {}

						.ellipse-text {
							position: relative;
							top: -135px;
							left: 75px;

							font-family: gotham-black;
							font-size: $font-size-l;
							color: $primary-color;
							text-transform: uppercase;
							margin-top: 200px;
						}
					}

					.text-skill {
						width: 426px;

						.title-skill {
							font-family: gotham-black;
							font-size: $font-size-l;
							color: $primary-color;

						}

						.description-skill {
							font-family: gotham-book;
							font-size: $font-size-m;
							color: $primary-color;

						}
					}

				}
			}
		}

		.img-statement {
			margin-top: $margin-xl;

			.statement {
				height: 800px;
			}
		}

		.aboutMe {
			padding: 0 100px;

			.baby-section {
				@include flex (space-between, center);
				margin-top: 200px;

				.babe-text {
					.aboutMe-wrapper {


						.title-aboutMe {
							font-family: anton;
							font-size: 64px;
							color: $primary-color;
							text-transform: uppercase;
						}

						.zigzag {
							width: 267px;
							height: 30px;
							margin-left: 38px;
						}
					}

					.text-1 {
						font-family: gotham-black;
						font-size: 36px;
						font-weight: 500;
						color: $primary-color;
						width: 710px;
						letter-spacing: -5%;
						padding-top: 20px;

						.yellow-text {
							color: transparent;
							-webkit-background-clip: text;
							background-clip: text;
							background-image: linear-gradient(#FA709A, #FEE140);
						}
					}
				}

				.smart-babe-img {
					.babe {
						width: 746px;
						height: 530px;
					}

					.spiral {
						position: absolute;
						top: 5010px;
						left: 1110px;
					}
				}
			}

			.childhood-section {
				@include flex(space-between, center);

				.child-img {
					width: 782px;
					height: 531px;
				}

				.text-2 {
					font-family: gotham-black;
					font-size: 36px;
					font-weight: 500;
					color: $primary-color;
					width: 665px;
					letter-spacing: -5%;

					.blue-text {
						color: #87b7c7;
					}

					.green-text {
						color: #86f2be;
					}
				}

			}

			.yangMan-section {
				@include flex(space-between, center);
				.text-3 {
					font-family: gotham-black;
					font-size: 36px;
					font-weight: 500;
					color: $primary-color;
					width: 710px;
					letter-spacing: -5%;
					padding-top: 20px;

					.lightblue {
						color: #479fd7;
					}
					.more-lightblue {
						color: #b986fb;
					}
					.yellow {
						color: yellow;
					}
					.blue {
						color: #65C8FF;
					}
					.red {
						color: #FF0000;
					}
				}
				.yangMan {
					width: 745px;
					height: 551px;
				}
			}
		}
	}

}