@font-face {
	font-family: gotham-book;
	src: url(../public/fonts/GothamBook.ttf);
}

@font-face {
	font-family: gotham-black;
	src: url(../public/fonts/Gotham-Black.otf);
}

@font-face {
	font-family: anton;
	src: url(../public/fonts/Anton-Regular.ttf);
}

@font-face {
	font-family: gotham-bold;
	src: url(../public/fonts/Gotham-Bold.otf);
}


//BG
$primary-bg: #000000;

//color
$primary-color: #ffffff;

//margin
$margin-s: 23px;

//padding
$padding-xxl: 0 100px;
$padding-s: 30px;