@font-face {
	font-family: gotham-book;
	src: url(../public/fonts/GothamBook.ttf);
}
@font-face {
	font-family: anton;
	src: url(../public/fonts/Anton-Regular.ttf);
}


//BG
$primary-bg: #000000;

//color
$primary-color:#ffffff;

//margin

//padding
$padding-xxl: 0 100px;
